In [85]:
my_first_var=(118+11*2)/(9-2)   # Replace the value of 0 with the required expression from Problem 1.

In [86]:
my_first_var

20.0

In [17]:
def triple(y):
  return 3 * y # Put your return value here.

In [21]:
def avg(x,y):
  return (x + y) / 2 # Put your return value here.

In [22]:
def combine(x,y):
  triple_y = triple(y) # Put your code here.  Remember that this function should call both of the functions triple(y) and avg(x,y) from above.
  return avg(x, triple_y) # Put your return value here.

In [18]:
triple(10)

30

In [23]:
avg(5,25)

15.0

In [24]:
combine(6, 5)

10.5

In [25]:
my_list=["Hello",91.7,"world",15,100,-10.2] 

print(my_list[-1])
print(my_list[-2])
print(my_list[-3])
print(my_list[-6])

-10.2
100
15
Hello

In [29]:
list_var=[0,1,2,3,4,5,6,7,8,9,10]

print(list_var[3:6])
print(list_var[0:7])
print(list_var[2:6])

[3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[2, 3, 4, 5]

In [32]:
list_a=[1,2,3]
list_b=list_a.copy()
list_b[0]=100
print(list_a)
print(list_b)

[1, 2, 3]
[100, 2, 3]

In [37]:
list = [0,1,2,3,4,5]
list[1:-1]

[1, 2, 3, 4]

In [38]:
def first(c):
  # Put your code here.
  return c[0] # Put your return value here.

In [39]:
def first_last(c):
  # Put your code here.
  return c[0], c[-1] # Put your return values here.  Remember a function can return two values (you will format your return statement as "return value1, value2").

In [40]:
def middle(c):
  # Put your code here.
  return c[1:-1]# Put your return value here.

In [41]:
w=[1,2,3,4,5]
first(w)

1

In [42]:
first_last(w)

(1, 5)

In [43]:
middle(w)

[2, 3, 4]

In [52]:
def swap(c):
  new_list=c.copy() # This creates a copy of the list c, which is called new_list.  Your function should work with this list instead of the list c which is passed to the function.
  first_temp = new_list[0]
  new_list[0] = new_list[-1] # change first to be last
  new_list[-1] = first_temp # change last to be first
  return new_list# Put your return value here.

In [48]:
test_list = [2,3,4,5,6,7]

In [54]:
swap(test_list)

[7, 3, 4, 5, 6, 2]

In [55]:
swap([0,1,2,3,4,5])

[5, 1, 2, 3, 4, 0]

In [57]:
def absolute_value(x):
  if x < 0:
    return -x# Put your code here.
  return x # Put your return value here.

In [58]:
absolute_value(-45)

45

In [59]:
absolute_value(56)

56

In [63]:
def indicator(lower,upper,n):
  if n >= lower and n <= upper:
    return 1 # Put your code here.
  return 0 # Put your return value here.

In [65]:
indicator(3,7,2)

0

In [66]:
indicator(-3,9,8)

1

In [88]:
def trunc_max(x,y):
  if x < 0 and y < 0:
    return 0
  if y > x:
    return y# Put your code here.
  return x# Put your return value here.

In [75]:
trunc_max(0,7)

7

In [76]:
trunc_max(-21, 84)

0

In [77]:
trunc_max(84,-21)

0

In [78]:
trunc_max(21,84)

84

In [79]:
trunc_max(84, 21)

84

In [90]:
trunc_max(3,-5)

3

In [91]:
trunc_max(2,7)

7

In [92]:
trunc_max(-173,-21)

0